{% extends 'test/base.html' %} 

{% block title %}Signin{% endblock title %} 

{% block content %}
<div class="container mt-5"  style="margin-top: 120px;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      {% if messages %}
        <div class="messages mb-4">
          {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
              <strong>{{message}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="card bg-light">
        <div class="card-body p-4">
          <h3 class="card-title text-dark mb-4">Sign In</h3>

          <form action="/auth/signin/" method="post">
            {% csrf_token %}

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" required />
            </div>

            <div class="mb-3">
              <label for="pass1" class="form-label">Password</label>
              <input type="password" class="form-control" id="pass1" name="pass1" required />
            </div>

            <div class="mb-3">
              <label for="pass2" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="pass2" name="pass2" required />
            </div>

            <div class="d-grid gap-2 mb-3">
              <button type="submit" class="btn btn-dark">Sign In</button>
            </div>

            <div class="text-center">
              <p class="mb-0">
                Already a User? <a href="/auth/login/" class="text-decoration-none">Login</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
